<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
        <a href="#"><img src="/images/logo-mercado-liebre.svg" alt="logo"/></a>
        </div>
        <nav>
            <input type="mercado liebre" id="menu">
            <p>compra en cuotas y sin tarjeta de credito</p>
          
    
            <ul>
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>Tiendas Oficiales</li>
                <li><a href=""></a>Vender</li>
                <li><a href=""></a>Ayuda</li>
            </ul>
            <ul>
                <li><a href=""></a>Crea tu cuenta</li>
                <li><a href=""></a>Ingresa</li>
                <li><a href=""></a>Mis compras</li>
                </ul>
        </nav>
    </header>
        <div class="banner">
            <img  width="250%" src="/images/img-home-banner.jpg" alt="Banner" />
        </div>
        <main>
            <section>
             <h2>Basado en tu ultima visita</h2>
         <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" />
             
                <p>$6.770</p>
                <p> 40% OFF</p>
               <h5>Cafetera Moulinex</5>
        
            <article>
             <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" /> 
        
                  <p>$230.000 </p>
                   <p>20% off </p>
                  <h5>MacBook Pro 2019 </h5>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung" />
                 
                  <p> $70.500 </p>
                  <p> 10% off </p>
                  <h5> Samsung Galaxy S10 </h5>
           </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv" />
                
                  <p> $23.200 </p>
                  <p> 5% off </p>
                  <h5> SmartTv Samsung 43" </h5>
            </article>

         </section>
         <h2>Seccion de Ofertas</h2>
         <article>
             <div>
            <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" />
            <p class="description">
             <p> $6.770 </p>
               <p> 40% OFF </p>
                <h5> Cafetera Moulinex </h5>
            </p>

            <article>
             <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" />
             <p class="description">
               <p> $230.000 </p>
               <p> 20% off </p>
               <h5> MacBook Pro 2019 </h5>

             </p>
             <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung" />
                <p class="description">
                   <p> $70.500 </p>
                    <p> 10% off </p>
                   <h5> Samsung Galaxy S10 </h5>

                  </p>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv" />
                <p class="description">
                  <p> $23.200 </p>
                   <p> 5% off </p>
                  <h5> SmartTv Samsung 43" </h5>

                </p>
            </article>
    </main>
    <footer>
        <section>
            
           <p> Pagá con tarjeta o en efectivo </p>
           <h3>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! </h3>
             
             <p> Envío gratis desde $ 2.500 </p>
            <h3> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
             productos. Es un beneficio de Mercado </h3>

             <p> Seguridad, de principio a fin </p>
             <h3> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
             porque estás siempre protegid@. </h3>

            <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
            </section>
                </footer>
            </nav>
</body>
</html>