<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
<div class="datos">
<h1>Login</h1>
        <hr>
        <div class="padrex">
            <div class="name">
                <label for="nombre de usuario">Nombre de Usuario</label>
                <input type="nombre de usuario" name="nombre de usuario" id="Nombre de Usuario" placeholder="nombre de usuario">
            </div>

            <div class="password">
                <label for="pasword">Elegi tu Contraseña</label>
                <input type="password" name="elegi tu contraseña" id="password" placeholder="elegi tu contraseña">
            </div>
        </div>
        
            <article>

                <div>
                    <button class="bttn" type="send" placeholder="send">ENVIAR</button>
                </div>
                <span><a href="/.register.html">Aun no tengo cuenta</a></span>
        </form>
        </div>
    

</body>