@import url("login.css");
h1{
   margin-bottom: 1rem; 
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 25px;
}  

hr{
    background: linear-gradient(rgb(228, 228, 228), white);
        height: 5px;
        margin-bottom: 2rem;
        width: 100%;
}
div.datos{
    background-color: rgb(230, 230, 84);
    width: 100%;
    
}


div.name {
    display: flex;
    flex-direction: column;
margin-bottom: 5px;
margin-top: 5px;
width: 100%;
}

div.password{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
        margin-top: 5px;
        width: 100%;  
}
button.bttn{
    background-color: rgb(146, 167, 236);
    width: 50%;
    margin-left: 70px;
    font-size: 15px;
    border-radius: 10px;
    color:black;
   
}
button.bttn:hover{
    background-color: aquamarine;
    font-size: 15px;
    border-radius: 10px;
    color: black;

    transition: background-color, 0.5s,
    color,#0022AA;
} 
a{
    color: black;
    padding:8px 10px; 
    
}

