@import url("https://fonts.googleapis.com/css2?family=Roboto&display=awap");
@import url("login.css");
@import url("register.css");

*{ 
    font-family:"Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-size: "Roboto";
}
:root {
--yellow : #EAC926;
--blue : #03264C;
--lightBlue : #1259c3;
--darkGrey : #666;
--lightGrey : #ebebeb;
--green : #39b54a; 
--font-primary : "Roboto", sans-serif;
--paragraph :12px;
--title : 24px;
--prices : 18px;
--descriptions : 16px;
}


header {
    flex-direction: column;
    background-color: var(--yellow);
    padding-bottom: 20px;
    font-size: var(--paragraph);
    width: 100%;

}

a{
    color: black;
    text-decoration: none;
}
body {
    font-family: var(--font-primary);
}


.banner {
   display:block;
}
div.caja{
    display:none
}
div.padre{
    display: flex;
}

.pb-15{
 padding-bottom: 15;
 

}

header .burger-menu {
    width: 30px;
    height: 35px;
    background-color: var(--lightBlue);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 10px;

}



header .burger-menu i {
    margin-top: 9px;
    background-color: var(--lightBlue);
    color: white;

}

header .dues {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

 .logo {
     padding-top: 25px;
     padding-left: 25px;
     width: 60%;
     margin-right: 25px;

 }
 div.search-bar {
     display: flex;
    padding-top: 40px;
    padding-left: 40px;
    width:50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 70px;
 }
 button i{
    padding-top: 5px;
    padding-left: 5px;
    
 }
 article.card1{
     margin-left: 10px;
     margin-right: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     
 }
 
 article.card2{
     margin-left: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 20px;
 }
 article.card3{
     margin-left: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right:20px;
 } 
 article.card4{
     margin-left: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
   margin-right: 20px;
 }
 article.card5{
    margin-top: 10px;
    margin-bottom: 10px;
     margin-left: 10px;
     margin-right: 20px;
 }
 article.card6{
     margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
     margin-right: 20px;
 }
 article.card7{ 
     margin-left: 10px;
     margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
 }  
 article.card8{
     margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
     margin-right: 20px;
 }
 main section{
     width: 90%;
     margin: 0 auto;
 }
 main section h2{
     font-size:var(--titulares);
    padding: 20px;
 }
 main section article .contenedor{
     position: relative;
     padding:15px;
     border-top: 1px solid var(--lightGrey);
 }
 main section article .contenedorh2{
padding: 20px;
 }
 
main section article i{
        color: var(--green);
        display: flex;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        transform: rotate(360deg);
        }
        
    main section article p{
        color:var(--green);
        margin: 10px 0;
        margin-left: 15px;
        
    }
    
    div .num{
        color: black; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
         
    
     h5{
         color: white;
     }
     h5:hover{
         color: black;
         position: relative;
         background-color: white;

     }




    footer .copy {
        color: var(--darkGrey);
        font-size: var(--paragraph);
        text-align: left;
        padding-left: 15px;
   
    }
   
    footer{
       background-color: white;
       padding-top: 20px;
   }
   footer section{
       text-align: center;
       padding: 20px 50px;
   }
   footer section i{
   color: var(--lightBlue);
   font-size: var(--titulares);
   }
   footer section h3{
       font-size: var(--descuentos-descripciones);
       color: var(--darkGrey);
   }
   footer section p{
       color: var(--darkGrey);
   }
   footer p{
       color: var(--darkGrey);
       margin-left: 10px;
   }
        
    
    @media (min-width: 361px) {
        .burger-menu{
            display: block;
        }
        
        
        div.banner{
            display: block;
        
        
        }

       main section article .contenedor h4{
        display: flex;
        }
        main section article {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
    }
 
    @media (min-width: 769px) {
       
        div.banner{
            display: block;
            width: auto;

        }
        div.madre{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
           .burger-menu{
               display:none;
           }
div.caja{
    display: flex;
    justify-content: space-around;
    
    }

 ul{
     display: flex;

 }
 li{
margin-right: 20px;
 }
 

 div.search-bar{
     display: flex;
    padding-right: 100px;


 } 
 div.cajita{
     display:flex
 }
 div.caja1a{
display: flex;
flex-direction:row;
 }
 div.cajitab{
     display: flex;
     }
     div.cajitac{
         display: flex;
    
     }
    }

 @media (min-width: 1024px) {
    div.caja1{
        display: flex;
    }

    div.caja1a{
        display: flex;
        
         }
 

    div.cajita2{
    display: flex;
    flex-direction: row;
    
} 
.cajafooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 
}
    
 